* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

/* mobile nav */
.nav__bars-btn {
    color: #fff;
    margin-left: 10px;
    display: none;
}
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn linear 0.2s;
}
.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;

    transition: transform linear 0.2s;
}
.nav__mobile-close{
    position: absolute;
    right: 10px;
    top: 8px;
    color: #666;
}
.nav__mobile-list {
    margin-top: 24px;
}
.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding-top: 8px;
    font-size: 1.4rem;
}
.nav-input{
    display: none;
}
.nav-input:checked ~ .nav__overlay {
    display: block;
} 
.nav-input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

@media only screen and (max-width: 63.9375em) { 
    .nav__pc {
        display: none;
    }
    .nav__bars-btn {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}