* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.main {
  text-align: center;
}

.header {
  height: 200px;
  background-color: rgb(224, 113, 9);
  line-height: 20px;
  font-size: 15px;
}
.header .navbar_links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.header .navbar_links li {
  padding: 0 5px;
}
.header .navbar_links li a {
  color: #fff;
}

.content {
  min-height: 500px;
  background-color: antiquewhite;
  font-size: 30px;
  padding: 30px 5px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  border: 1px solid transparent;
  height: 100%;
}
.item .item-photo {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item .item-text {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.item .item-text .item-text-name {
  flex: 1 0 auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding: 5px 0;
}
.item .item-text .item-text-price {
  flex: 1 0 auto;
  color: rgb(235, 135, 42);
}
.item .product__info-name {
  height: 15%;
  font-size: 20px;
}
.item .product__info-price {
  height: 20%;
  background-color: rgb(233, 233, 233);
  font-size: 20px;
}
.item .product__info-manufacturer {
  height: 15%;
}
.item .product__info-description {
  height: 50%;
  background-color: #333;
}

.item-mini {
  margin: 5px 0;
}
.item-mini .item-mini-photo {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  border: 1px solid transparent;
  font-size: 15px;
}
.product__info .product__info-name {
  height: 15%;
  font-size: 20px;
}
.product__info .product__info-price {
  height: 20%;
  background-color: rgb(233, 233, 233);
  font-size: 20px;
}
.product__info .product__info-manufacturer {
  height: 15%;
}
.product__info .product__info-description {
  height: 50%;
  background-color: #333;
}

.footer {
  height: 150px;
  background-color: rgb(251, 255, 196);
  line-height: 150px;
  font-size: 30px;
}

h1 {
  margin: 0;
  color: #333;
}

h3 {
  margin: 0;
  color: #333;
}

.btn-group {
  background-image: linear-gradient(to right, rgb(232, 92, 64), rgb(233, 222, 18));
  width: 100%;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 13px;
  color: #fff;
}

.cart-header {
  font-size: 20px;
  color: #fff;
  margin: 5px;
}
.cart-header .cart-header_item {
  background-color: orange;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
}

.cart-content {
  font-size: 20px;
  color: #fff;
  margin: 5px;
}

.cart-item {
  display: flex;
  background-color: orange;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cart-item .cart-item_photo {
  height: 100px;
  padding-left: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cart-item .cart-item_name {
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  padding: 5px 0;
}
.cart-item .cart-item_quantity {
  max-width: 30px;
  height: 20px;
  border: 0;
  text-align: center;
}

.container {
  margin: 20px 0;
}/*# sourceMappingURL=style.css.map */